<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.getRecipeName}">Title</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon.png}">
</head>
<body class="recipe-page">
<div th:replace="${isLoggedIn} ? ~{fragments/navbar_logged :: navbar_logged} : ~{fragments/navbar :: navbar}"></div>

<div class="recipe-container">
    <div class="container-fluid name">
        <h3 class="panel_title">Recept neve:</h3>
        <div th:text="${recipe.getRecipeName()}"></div>
    </div>

    <div class="container-fluid ingredients">
        <h3 class="panel_title">Hozzávalók:</h3>
        <div>
            <ul>
                <li th:each="ingredient:${recipeIngredients}" th:text="${ingredient}"></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid directions">
        <h3 class="panel_title">Elkészítés:</h3>
        <div>
            <ol>
                <li th:each="direction:${recipeDirections}" th:text="${direction}"></li>
            </ol>
        </div>
    </div>

    <div class="container-fluid author">
        <h5>Beküldő:</h5>
        <div th:text="${author}"></div>
    </div>

    <div class="menu-buttons">
        <div class="add-favourite" th:if="${isLoggedIn}">
            <form method="post" th:action="@{/api/recipes/fav(id=${recipe.getId()})}">
                <div class="add-fav-button" th:if="${isFav}">
                    <button class="fav-button" type="submit" title="Eltávolítás a kedvencek közül">
                        <i class="fa-solid fa-heart fa-xl"></i>
                    </button>
                </div>
                <div class="remove-fav-button" th:unless="${isFav}">
                    <button class="fav-button" type="submit" title="Hozzáadás a kedvencekhez">
                        <i class="fa-regular fa-heart fa-xl"></i>
                    </button>
                </div>
            </form>
        </div>

        <div th:if="${isOwner}">
            <a class="edit-button" th:href="@{'/api/recipes/edit/' + ${recipe.getId()}}" title="Recept szerkesztése">
                <i class="fa-solid fa-pen-to-square fa-xl"></i>
            </a>
        </div>
        <div th:if="${isOwner}">
            <form th:action="@{/api/recipes/delete(id=${recipe.getId()})}" method="post">
                <button class="delete-button" type="submit" title="Törlés">
                    <i class="fa-solid fa-trash fa-xl"></i>
                </button>
            </form>
        </div>

    </div>
</div>
</body>
</html>