<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}">
<head>
    <meta charset="UTF-8">
    <title>Regisztráció</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon.png}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<form th:action="@{/api/user/register}" method="post" th:object="${user}">
    <div class="form-group">
        <label for="name">Felhasználónév</label>
        <input type="text" th:value="${username}" class="form-control" id="name" name="username">
        <!-- Validation -->
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
           class="alert alert-danger notification" role="alert">Name Error</p>

        <p th:if="${existedUsername != null}" class="alert alert-danger notification" role="alert"
           th:text="'A(z) ' + ${existedUsername} + ' név már foglalt.'"></p>
        <!-- Validation -->
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" th:value="${password}" class="form-control" id="password" name="password">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
           class="alert alert-danger notification" role="alert">Password Error</p>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" th:value="${email}" class="form-control" id="email" name="email">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
           class="alert alert-danger notification" role="alert">Email Error</p>
    </div>
    <button type="submit" class="bton submit-button send-button">Regisztráció</button>
</form>

</body>
</html>