<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Új recept hozzáadása</title>
</head>
<body>

<form>
    <div class="form-group">
        <label for="recipeName">Recept neve</label>
        <input type="text" class="form-control" id="recipeName" placeholder="Töltött káposzta">
    </div>
    <div class="form-group">
        <label for="ingredients">Example textarea</label>
        <textarea class="form-control" id="ingredients" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label for="directions">Example textarea</label>
        <textarea class="form-control" id="directions" rows="4"></textarea>
    </div>
</form>

</body>
</html>