<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../static/img/logo.png" alt="logo" width="36" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/recipes">Receptek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/randomRecipe">Véletlenszerű recept</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/addRecipe">Új recept</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/secret">Secret</a>
                </li>
            </ul>
            <a class="btn btn-danger" href="/api/user/logout">Kijelentkezés</a>
            <form class="d-flex" role="search" th:action="@{/api/recipes/search}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>